ext/thin_parser/Makefile
ext/thin_parser/conftest.dSYM/*
ext/thin_parser/*.log
ext/thin_parser/*.o
ext/thin_parser/*.bundle
ext/thin_parser/*.obj
ext/thin_parser/*mswin32*
ext/thin_parser/vc60.pdb
ext/thin_parser/*.so
*.bundle
*.so
*.gem
log
spec/rails_app/log
doc/rdoc/*
tmp/*
pkg/*
nbproject/*
.DS_Store
daemon_test.log
Gemfile.lock
