ext/thin_parser/Makefile
ext/thin_parser/conftest.dSYM/*
ext/thin_parser/*.log
ext/thin_parser/*.o
ext/thin_parser/*.class
ext/thin_parser/*.bundle
ext/thin_parser/*.obj
ext/thin_parser/*mswin32*
ext/thin_parser/vc60.pdb
ext/thin_parser/*.so
ext/thin_parser_jruby/classes
lib/*.bundle
lib/*.so
lib/*.jar
log
spec/rails_app/log
doc/rdoc/*
tmp/*
pkg/*
nbproject/*
.DS_Store
daemon_test.log

