@import "compass";
@import "blueprint/reset";
@import "config";
@import "blueprint";
@import "blueprint/scaffolding";

@include blueprint;
@include blueprint-scaffolding;

header {
  font-size: 300%;
  text-align: center;
}

.content {
  @include container;
  
  padding: 30px 0;
}

footer {
  font-size: 70%;
  text-align: center;
}