<header>
  <div class="content">
    <%= site_name %>
  </div>
</header>

<div id="content">
  <div class="content">
    <%= yield %>
  </div>
</div>

<footer>
  <div class="content">
    &copy; Me
  </div>
</footer>